{% trans_default_domain 'victoire' %}

<div class="vic-col-lg-6">
    <h3>{{ 'widget_connect.form.resource_owners.title'|trans }}</h3>
    <hr>

    <div class="resource_owners">
        {{ form_widget(form.resourceOwners.resource_owners) }}
    </div>

    {% for resource_owner in form.resourceOwners.resource_owners %}
        {% set owner = resource_owner.vars.value %}
        {% set class = owner in form.resourceOwners.resource_owners.vars.data ? ' vic-show' : ' vic-hidden' %}
        <div class="resource_owner_{{ owner }}_container">
            <div class="resource_owner_{{ owner }}{{ class }}">
                {% set form_owner = attribute(form.resourceOwners, 'resource_owner_' ~ owner) %}
                {{ form_row(form_owner) }}
            </div>
        </div>
    {% endfor %}
</div>
