{% block oauth_button %}
    <a href="{% block button_href %}{{ path("victoire_widget_connect_login_resource_owners", {id: widget.id, service: resource_owner}) }}{% endblock %}"
            class="{% block button_class %}btn btn-default btn-oauth{% endblock %}" {% block button_attr %}{% endblock %}
            id="widget-{{ id }}-{{ resource_owner }}">
        {% block button_label %}
            {{ attribute(resourceOwners, constant('PREFIX_RESOURCE_OWNER_LABEL', widget) ~ resource_owner) }}
        {% endblock button_label %}
    </a>
{% endblock oauth_button %}

<script>
    $(document).ready(function(){
        $('#widget-{{ id }}-{{ resource_owner }}').on('click', function(e) {
            e.preventDefault();
            $.oauthpopup({
                windowName: 'QuovadisConnect', // TODO dynamic popup name ?
                windowOptions: 'location=0,status=0,width=400,height=600', // TODO dynamic popup size ?
                path: $('#widget-{{ id }}-{{ resource_owner }}').attr('href'),
                callback: function() {
                    window.location.replace("{{ redirectUrl }}");
                }
            });
        });
    });
</script>
